body{
  --background-color: #333;
  --color: #fff;

  color: var(--color);
  background-color: var(--background-color);

  margin:0;
  padding:0;
}


@media (prefers-color-scheme: light) {
  body {
    --background-color: #fff;
    --color: #333;
  }
}

